body{
background-image: url(./img/422588-Mortal-Shell-crusaders-knight.jpg);
background-size: cover;

}

.titulo{
color: white; 
font-size: 25px;   
position: absolute;
left: 425px;
font-family: tt;
}
p{
    color: white;
    margin: 10px;
    border:  2px solid white;
    font-size: 25px;
    width: 700px;
    position: absolute;
    left: 225px;
    top: 100px;
   
    padding: 10PX;
    text-shadow: 0 0 10px white;
}

@font-face {
font-family: porta;
src: url("./font/BlackCloverFont.otf")format("opentype")

}

@font-face {
    font-family: ff;
    src: url("./font/Universitas_Studii_Salamantini.ttf")format("truetype")
    
    }

    @font-face {
        font-family: tt;
        src: url("./font/Supernatural_Knight.ttf") format("truetype")
        
        }